.cards {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: min-content 460px;
  gap: 40px;
}

@media screen and (max-width: 1279px) {
  .cards {
      margin: 0px 24px;
      grid-template-columns: repeat(auto-fit, minmax(50px, 440px));
      grid-template-rows: min-content max-content;
  }
}

@media screen and (max-width: 1023px) {
  .cards {
      margin: 0px 24px;
      grid-template-columns: repeat(auto-fit, minmax(50px, 340px));
      grid-template-rows: min-content max-content;
  }
}

@media screen and (max-width: 767px) {
  .cards {
      margin: 0px 16px;
  }
}
