.cover__link {
  color: white;
  min-height: 740px;
  text-decoration: none;
  background-color: rgb(42, 44, 47, .3);
  text-align: center;
  display: grid;
  justify-content: center;
  gap: 32px;
  transition: .3s linear;
}

.cover__link:hover {
  background-color:#2A2C2F;
  cursor: pointer;
  opacity: .8;
}

@media screen and (max-width: 1184px) {
  .cover__link {
    min-height: 62.5vmax;
  }
}

@media screen and (max-width: 900px) {
  .cover__link {
    min-height: 62.5vmin;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    grid-template-columns: 288px;
    gap: 16px;
  }
}