.last__layer {
  background-image: url(../../../images/cover-trains.jpg);
  object-position: center;
  background-size: 100%;
  min-height: 740px;
  background-repeat: no-repeat;
  text-align: center;
  transition: .3s linear;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .last__layer {
      min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .last__layer {
      min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .last__layer {
      min-height: 200px;
  }
}

.last__layer:hover {
  background-color: #2A2C2F;;
  opacity: .8;
}