.header__subtitle {
  max-width: 640px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 104%;
  text-align: center;
  margin: 0 auto 64px;
}

@media screen and (max-width: 760px) {
  .header__subtitle {
      font-size: 16px;
      line-height: 120%;
      margin: 0 auto 40px;
  }
}